@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0s;
    width: 100%;
    height: 100%;
}

header .navbar-brand img {
    opacity: 90%;
    width: 200px;
}


header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #383636, #000000);
    --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
    font-family: var(--Rubik);
    font-weight: bold;
    font-size: 3vmin;
    color: whitesmoke;
    font-size: 1vmin;
}

header .navbar-nav .nav-link {
    font-size: 2vmin;
}

header {
    height: 900px;
    background: black;
    width: 100%;
    padding: 10px 50px;
}


header li a:hover {
    color: rgb(87, 87, 87);
}

header .nav-item {
    padding-right: 0.9em;
}

header .navbar-brand {
    padding-left: 2rem;
}


header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-12 {
    padding: 7vmin 1vmin;
    font-family: var(--Rubik);
    color: white;
}

header .row .col-md-12 h3 {
    padding: 7vmin;
    letter-spacing: 4px;
}

header .col-md-12 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .col-md-12 button {
    text-decoration: none;

    border-radius: 30px;
    font-weight: bold;
    height: 54px;
    width: 241px;
    padding: 50px;
}

header .col-md-12 a {
    color: black;
    text-decoration: none;
}

header .col-md-12 button:hover {
    border: none;
    background-color: rgb(87, 87, 87);
    border: none;
    transition: 400ms;
    color: whitesmoke;
}